<div style = "padding:10px;text-align: center">
        <p style="font-size:13px; border-top: 1px solid #f0f0f0;">The DES Data Management System is supported by the National Science Foundation under Grant
            NSF AST 07-15036 and NSF AST 08-13543 </p>
</div>
</body>
</html>
