.jumbotron {
    margin-bottom: 0px;
    /* height: 350px; */
    color: black;
    background: transparent;
    display: flex;
    align-items: center;
    text-align: left;
}

p {
    font-size: 2rem;
}
pre code {
    text-align: left;
    display: block;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x:auto;
    max-width: 100%;
    min-width: 100px;
    padding: 0;
  }
