<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ path }}</title>
  </head>
  <body>
    <h1>Index of {{ path }}</h1>
    <hr />
    <table id="list">
      <thead>
        <tr>
          <th style="text-align: left; width: 55%">Filename</th>
          <th style="text-align: left; width: 20%">File Size</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="../">..</a></td>
          <td></td>
        </tr>
        {% for link in links %}
        <tr>
          <td><a href="{{ link.name }}">{{ link.name }}</a></td>
          <td>{{link.size}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
